<h1>Welcome#index</h1>
<h3>Welcome, authentication is in progress.</h3>
<p>Find me in app/views/welcome/index.html.erb</p>

<h3><%= link_to "View Notes", wiki_posts_path %></h3>
<h3><%= link_to "View Deleted Posts", deleted_wiki_posts_path %></h3>

<h3><%= link_to "About", welcome_about_path %></h3>