<h1>Welcome#index</h1>
<h1>My Note</h1>

<p>Find me in app/views/welcome/index.html.erb</p>

<h2><%= link_to "View Posts", wiki_posts_path%></h2>
<h2><%= link_to "View Deleted Posts", deleted_wiki_posts_path %></h2>

<h2><%= link_to "About", welcome_about_path%></h2>
